# Зависимости
node_modules/
npm-debug.log*

# Environment variables
.env
.env.local

# Build outputs
dist/
build/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Server specific
Server/.env

# Client specific
Client/dist/
Client/.env
