.form {
    width: calc(var(--size-base)*80);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--authorization-bg);
    border-radius: 10px;
    padding: calc(var(--size-base)*10);

    &__container_info {
        width: 100%;
        height: calc(var(--size-base)*17);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__container_price {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: calc(var(--size-base)*14.5);
        justify-content: space-between;

    }

    &__container_btn {
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        width: 100%;
        height: calc(var(--size-base)*25);
    }

    &__content_container {
        display: flex;
        justify-content: space-between;
    }

    &__radio_container {
        display: flex;
        column-gap: calc(var(--size-base)*2.5);
        padding-bottom: calc(var(--size-base)*5);
    }

    &__descr {
        font-family: 'Rubik';
        font-size: calc(var(--font-size)*4);
        font-weight: 400;
        color: var(--font-dark);
        display: flex;
        align-items: center;
    }

    &__price {
        font-family: 'Rubik';
        font-size: calc(var(--font-size)*4);
        font-weight: 400;
        color: var(--font-black);
        display: flex;
        align-items: center;
    }

    &__primary_price {
        font-family: 'Rubik';
        font-size: calc(var(--font-size)*4);
        font-weight: 700;
        color: var(--primary-color);
    }

    &__finally_price {
        font-size: calc(var(--font-size)*6);
        font-family: 'Rubik';
        font-weight: 700;
        color: var(--font-black);
    }

    &__alert {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: calc(var(--size-base)*3);
        font-size: calc(var(--font-size)*3);
        font-family: 'Rubik';
        color: var(--border-green);
        padding-right: calc(var(--size-base)*8);
    }

    &__order_container {
        width: 100%;
        height: calc(var(--size-base)*25);
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
    }

    &__order_alert {
        color: var(--font-white);
        font-size: calc(var(--font-size)*3);
        font-weight: 400;
        font-family: 'Rubik';
    }

    &__order_border {
        width: 85%;
        height: calc(var(--size-base)*6);
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--error-color);
        border-radius: 5px;
        margin-bottom: calc(var(--size-base)*4);
    }

    &__btn_post {
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(var(--size-base)*10);
        width: 100%;
        color: var(--font-white);
        background-color: var(--primary-color);
        border-radius: 10px;
        font-family: 'Rubik';


        &:hover {
            opacity: 0.8;
        }
    }

    &__order_add {
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(var(--size-base)*10);
        width: 100%;
        color: var(--font-white);
        background-color: var(--border-green);
        border-radius: 10px;
        font-family: 'Rubik';
        padding: 0 calc(var(--size-base)*2);

        &:hover {
            opacity: 0.8;
        }
    }

    &__order_btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: calc(var(--size-base)*15);
        color: var(--font-white);
        font-size: calc(var(--font-size)*6);
        background-color: var(--primary-color);
        border-radius: 10px;
        font-family: 'Rubik';

        &:hover {
            opacity: 0.8;
        }
    }
}

.form-disabled {
    width: calc(var(--size-base)*80);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--authorization-bg);
    border-radius: 10px;

    &__container_svg {
        display: flex;
        justify-content: center;
        width: calc(var(--size-base)*20);
        height: calc(var(--size-base)*20);
    }

    &__container_alert {
        display: flex;
        justify-content: center;
        width:100%;
        height: calc(var(--size-base)*20);
    }

    &__alert {
       color: var(--font-black);
       font-family: 'Rubik';
       font-weight: 700; 
    }
}